{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blogpost</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blogpost.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ blogpost.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ blogpost.body }}</td>
            </tr>
            <tr>
                <th>Publicationdate</th>
                <td>{% if blogpost.publicationDate %}{{ blogpost.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <h2>Post a comment</h2>
    {{ form_start(form) }}
        {{ form_widget(form)}}
        <input class="btn btn-primary ml-2" type="submit" value="Create" />
    {{ form_end(form) }}
    <br />
    <h2>Comments</h2>
    <table>
        {% for comment in comments %}
            <tr>
                <td>
                    {{ comment.comment }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ comment.name }}
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <ul>
        <li>
            <a href="{{ path('blog_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
